# Node modules directory
node_modules/

# Logs
*.log

# .env file for environment variables
.env

# npm-debug log files
npm-debug.log*

# Operating system files
.DS_Store

# IDE/editor specific files
.vscode/
.idea/

# Build files
dist/
build/

package-lock.json